/* CSS RESET  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CONTAINER  */
#main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#top-score-container {
	height: 380px;
	width: 250px;
	background-color: #fff;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
}

#content-wrapper {
	width: 600px;
}

body {
	background-color: #333;
}

/* TITLE  */
#top-score-title {
	padding-bottom: 1rem;
	border-bottom: 2px solid #0856bd;
	margin-bottom: 1rem;
	text-align: center;
}

#title-container {
	background-color: #0856bd;
	border-radius: 1rem 1rem 0rem 0rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#title {
	padding: 1rem;
	color: #fff;
}

/* WORD CONTAINER  */
#word-container {
	text-align: center;
	padding: 3rem;
	background-color: #fff;
}

#mixed-word {
	font-size: 2.5rem;
}

/* GAME INFO  */
#game-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	background-color: #fff;
}

#time-left,
#user-score {
	font-size: 1.5rem;
}

#input-container, #user-input-container {
	text-align: center;
	background-color: #fff;
	padding: 2.5rem;
}
.no-input::placeholder {
	color: #0856bd;
}

#word-guess, #user-info {
	padding: 1rem;
	width: 300px;
	font-size: 1.75rem;
	border-radius: 0.5rem;
}

.level-title {
	padding-bottom: 1rem;
	font-size: 1.25rem;
}

/* GAME BTNS  */

#button-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
	background-color: #0856bd;
	border-radius: 0rem 0rem 1rem 1rem;
}

.btn {
	padding: 0.5rem;
	font-size: 1.2rem;
	color: #0856bd;
	border-radius: 0.5rem;
	background-color: #fff;
	cursor: pointer;
	border: 1px #fff solid;
}

.btn:hover {
	color: #fff;
	background-color: #0856bd;
	border: 1px #fff solid;
}

/* DISPLAY NONE CLASS  */
.display-none {
	display: none;
}


/* USER NO NAME ALERT */
#user-name-alert {
	position: absolute;
	left: 983px;
	padding-top: .2rem;
	color: #0856bd;
}

/* SIDE INFO  */
.side-info {
	line-height: 2rem;
}

.level {
	color: #0856bd;
	font-weight: 700;
}